@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Bold.woff2') format('woff2'),
        url('Roboto-Bold.woff') format('woff'),
        url('Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.woff2') format('woff2'),
        url('Roboto-Regular.woff') format('woff'),
        url('Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Medium.woff2') format('woff2'),
        url('Roboto-Medium.woff') format('woff'),
        url('Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff'),
        url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Regular.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Regular.woff') format('woff'),
        url('../fonts/RobotoSlab-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Medium.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Medium.woff') format('woff'),
        url('../fonts/RobotoSlab-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 990px;
    margin: 0 auto;
}

input,
select,
textarea {
    width: 100%;
    appearance: none;
    outline: none;
}

.header {
    padding-bottom: 45px;
    position: relative;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #1f222c;
    font-weight: 700;
    font-family: "Roboto Slab";
    padding-top: 77px;
    padding-bottom: 69px;
}

.first-colon {
    width: 330px;
}

.formfirst > p {
    padding-bottom: 9px;
}

.first-colon > p,
.sixthcolon > p {
    font-size: 20px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #b3b3b3;
    font-weight: 700;
    font-family: "Roboto";
    padding-bottom: 28px;
}

.first-colon > form > p > label > input,
.first-colon > form > p > label > select {
    padding: 15px 0 15px 15px;
    appearance: none;
}

.first-colon > form > p > label > input {
    font-size: 14px;
    color: #b3b3b3;
    font-weight: 400;
    font-family: "Roboto";
    border: 1px solid #cccccc;
    border-radius: 3px;
    appearance: none;
}

.first-colon > form > p > label > input:focus {
    box-shadow: 0 0 2.5px 2.5px rgba(62,106,255,0.55);
    border: 1px solid #3e6aff;
    appearance: none;
}

.formfirst > p > label > textarea {
    padding: 16px 0 16px 16px;
    border-radius: 3px;
    border: 1px solid #cccccc;
    min-height: 130px;
    max-height: 200px;
    resize: vertical;
}

.formfirst > label > input[type=submit] {
    padding: 18px 0 13px 0;
    border-radius: 3px;
    background-color: #12d661;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto";
    text-align: center;
    border: none;
}

.formfirst > label > input[type=submit]:focus {
    box-shadow: 0px 2px 2.5px 2.5px rgba(8,118,52,0.35);
    background-color: #07be51;
    border-radius: 3px;
    outline: none;
}

.sixthcolon {
    position: absolute;
    top: 176px;
    right: 0;
    width: 310px;
}

.sixthcolon > div {
    position: fixed;
    background-color: #fafafa;
    border-radius: 5px;
    box-shadow: 0px 5px 6px 6px rgba(0,0,0,0.15);
    border: 1px solid #e6e6e6;
}

.formlast {
    padding: 5px 25px;
}

.formlast ~ p > a{
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    color: #b3b3b3;
    transform: rotate(45deg);
    padding: 10px;
}

.formlast ~ p {
    position: relative;
}

.formlast > p > a {
    font-size: 13px;
    color: #3e6aff;
    font-weight: 400;
    font-family: "Roboto";
    text-decoration: none;  
}

.formlast > p:first-child,
.formlast > p:nth-child(2) {
    font-size: 13px;
    color: #b3b3b3;
    font-weight: 400;
    font-family: "Roboto";
}

.formlast > p:first-child > label > input,
.formlast > p:nth-child(2) > label > input{
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

.formlast > p:nth-child(4) > label {
    font-size: 13px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto";
}

.flex {
    display: flex;
    align-items: center;
}

.parent {
    position: relative;
}

.parent span {
    position: absolute;
}

.parent > input {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #ccc;
}

.parent > input:checked {
    outline: 1px solid #3e6aff;
}

.parent > input:checked + span {
    top: 20%;
    left: 44%;
    width: 5px;
    height: 7px;
    border-top: 2px solid #244dd7;
    border-left: 2px solid #244dd7;
    transform: translate(-50%, -50%) rotate(-135deg);
}

.formlast > p > label > input[type=submit] {
    border-radius: 3px;
    background-color: #12d661;
    border: none;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto";
    padding: 16px 0;
}

.formlast input[type=submit]:checked {
    outline: none;
    box-shadow: 0px 2px 2.5px 2.5px rgba(8,118,52,0.35);
    background-color: #07be51;
}

hr:first-child {
    border: none;
    border-top: 1px solid #dcdcde;
}

.main {
    padding-top: 50px;
}

.secondform > h2 {
    font-size: 20px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #b3b3b3;
    font-weight: 700;
    font-family: "Roboto";
}

.secondform > form {
    display: flex;
    column-gap: 62px;
}

.radio > p:first-child > label > input,
.radio > p:nth-child(2) > label > input {
    width: 15px;
    height: 15px;
    border-radius: 7px;
    background-color: #fff;
    outline: 1px solid #cccccc;
}

.radio > p:first-child > label > input:checked,
.radio > p:nth-child(2) > label > input:checked {
    border: 3px solid #fff;
    background-color: #3e6aff;
    outline: 1px solid #3e6aff;
}

.radio > p:last-child > label > input {
    width: 15px;
    height: 15px;
    border-radius: 7px;
    background-color: #f7f7f7;
    outline: 1px solid #e5e5e5;
}

.radio > p:last-child > label {
    font-size: 14px;
    color: #b3b3b3;
    font-weight: 400;
    font-family: "Roboto";
}

.parentx {
    position: relative;
}

.parentx span {
    position: absolute;
}

.parentx > input:checked {
    outline: 1px solid #3e6aff;
}

.parentx > input:checked + span {
    top: 20%;
    left: 44%;
    width: 5px;
    height: 7px;
    border-top: 2px solid #244dd7;
    border-left: 2px solid #244dd7;
    transform: translate(-50%, -50%) rotate(-135deg);
}

.checkbox > p:last-child > label > span > input {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background-color: #f7f7f7;
    border: 1px solid #e5e5e5;
}

.checkbox > p:last-child > label {
    font-size: 14px;
    color: #b3b3b3;
    font-weight: 400;
    font-family: "Roboto";
}

.style-checkbox {
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto";
}