@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/Roboto-Bold.woff") format("woff"),
    url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"),
    url("../fonts/Roboto-Medium.woff") format("woff"),
    url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("../fonts/RobotoSlab-Bold.woff2") format("woff2"),
    url("../fonts/RobotoSlab-Bold.woff") format("woff"),
    url("../fonts/RobotoSlab-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("../fonts/RobotoSlab-Regular.woff2") format("woff2"),
    url("../fonts/RobotoSlab-Regular.woff") format("woff"),
    url("../fonts/RobotoSlab-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("../fonts/RobotoSlab-Medium.woff2") format("woff2"),
    url("../fonts/RobotoSlab-Medium.woff") format("woff"),
    url("../fonts/RobotoSlab-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 990px;
  margin: 0 auto;
}

input[type=submit] {
  cursor: pointer;
}

input,
select,
textarea {
  appearance: none;
  outline: none;
}

input[type=checkbox] {
  border: none;
}

select:hover {
  cursor: pointer;
}

.cursor:hover {
  cursor: pointer;
}

.header {
  padding-bottom: 45px;
  position: relative;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #1f222c;
  font-weight: 700;
  font-family: "Roboto Slab";
  padding-top: 77px;
  padding-bottom: 69px;
}

.first-colon {
  width: 330px;
}

.formfirst > p {
  padding-bottom: 9px;
}

.formfirst > p > label > input,
.formfirst > p > label > textarea {
  width: 313px;
}

.arrow {
  position: relative;
}

.arrow:before {
  content: "";
  position: absolute;
  border: 5px solid transparent;
  top: 50%;
  right: 14px;
  border-top-color: #1f222c;
  z-index: -1;
}

.arrows {
  position: relative;
}

.arrows:before {
  content: "";
  position: absolute;
  border: 5px solid transparent;
  top: 50%;
  right: 14px;
  border-top-color: #1f222c;
  z-index: -1;
}

.arrows:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 16px;
  background: #ccc;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
}

.formfirst > p > label > select {
  background-color: transparent;
}

.formfirst > p > label > select,
.formfirst input[type="submit"],
.formlast input {
  width: 100%;
}

.first-colon > p,
.sixthcolon > p {
  font-size: 20px;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: #b3b3b3;
  font-weight: 700;
  font-family: "Roboto";
  padding-bottom: 28px;
}

.first-colon > form > p > label > input {
  padding: 11px 0 11px 15px;
  appearance: none;
}

.first-colon > form > p > label > select {
  padding: 12px 0 12px 15px;
}

.formfirst select {
  border-radius: 3px;
  border: 1px solid #cccccc;
}

.first-colon > form > p > label > input {
  font-size: 14px;
  color: #b3b3b3;
  font-weight: 400;
  font-family: "Roboto";
  border: 1px solid #cccccc;
  border-radius: 3px;
  appearance: none;
}

.first-colon > form > p > label > input:focus,
.sixthcolon > div > form > p > label > input:focus,
.arrow > select:focus,
.textareahover:focus,
.input-fifth:focus {
  box-shadow: 0 0 2.5px 2.5px rgba(62, 106, 255, 0.55);
  border: 1px solid #3e6aff;
  appearance: none;
}

.formfirst > p > label > textarea {
  padding: 16px 0 16px 16px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  min-height: 97px;
  max-height: 200px;
  resize: vertical;
}

.formfirst > label > input[type="submit"] {
  padding: 13.5px 0 13.5px 0;
  border-radius: 3px;
  background-color: #12d661;
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Roboto";
  text-align: center;
  border: none;
  transition: 0.3s ease;
}

.formfirst > label > input[type="submit"]:focus {
  box-shadow: 0px 2px 2.5px 2.5px rgba(8, 118, 52, 0.35);
  background-color: #07be51;
}

.fix {
  position: fixed;
  top: 176px;
  left: 86%;
  width: 310px;
  transform: translateX(-100%);
  z-index: 2;
}

.sixthcolon > div {
  background-color: #fafafa;
  border-radius: 5px;
  box-shadow: 0px 5px 6px 6px rgba(0, 0, 0, 0.15);
  border: 1px solid #e6e6e6;
  width: 310px;
}

.sixthcolon > div > p {
  display: flex;
  justify-content: flex-end;
  padding: 12px 11px 0 0;
}

.formlast {
  padding: 5px 25px;
}

.open-popup {
  font-size: 18px;
  color: #3e6aff;
  font-weight: 400;
  font-family: "Roboto";
  text-decoration: none;
}

.formlast ~ p > a {
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  color: #b3b3b3;
  transform: rotate(45deg);
  padding: 10px;
}

.formlast ~ p {
  position: relative;
}

.formlast > p > a {
  display: block;
  padding: 12px 0;
  font-size: 13px;
  color: #3e6aff;
  font-weight: 400;
  font-family: "Roboto";
  text-decoration: none;
}

.formlast > p > a:hover,
.open-popup:hover {
  text-decoration: underline;
}

.formlast > p:first-child,
.formlast > p:nth-child(2) {
  font-size: 13px;
  color: #b3b3b3;
  font-weight: 400;
  font-family: "Roboto";
}

.formlast > p:first-child {
  display: flex;
  flex-direction: column;
  row-gap: 9px;
}

.formlast > p:nth-child(2) {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  padding-top: 13px;
}

.formlast > p:first-child > label > input,
.formlast > p:nth-child(2) > label > input {
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  padding: 10px 0;
}

.formlast > p:nth-child(4) > label {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 13px;
  color: #1f222c;
  font-weight: 400;
  font-family: "Roboto";
  padding-bottom: 14px;
}

.flex-gap {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.flex {
  display: flex;
  align-items: center;
}

.parent,
.parentx,
.parentc,
.parentv {
  position: relative;
}

.parent span,
.parentx span,
.parentc span,
.parentv span {
  position: absolute;
}

.parent > input,
.parentx > input,
.parentc > input,
.parentv > input {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.parent > input:checked,
.parentx > input:checked,
.parentc > input:checked,
.parentv > input:checked {
  outline: 1px solid #3e6aff;
  border: none;
}

.parent > input:checked + span {
  top: 33%;
  left: 50%;
  width: 5px;
  height: 7px;
  border-top: 2px solid #244dd7;
  border-left: 2px solid #244dd7;
  transform: translate(-50%, -50%) rotate(-135deg);
}

.parentx > input:checked + span {
  top: 33%;
  left: 50%;
  width: 5px;
  height: 7px;
  border-top: 2px solid #244dd7;
  border-left: 2px solid #244dd7;
  transform: translate(-50%, -50%) rotate(-135deg);
}

.parentc > input:checked + span {
  top: 33%;
  left: 50%;
  width: 5px;
  height: 7px;
  border-top: 2px solid #244dd7;
  border-left: 2px solid #244dd7;
  transform: translate(-50%, -50%) rotate(-135deg);
}

.parentv > input:checked + span {
  top: 27%;
  left: 50%;
  width: 5px;
  height: 7px;
  border-top: 2px solid #244dd7;
  border-left: 2px solid #244dd7;
  transform: translate(-50%, -50%) rotate(-135deg);
}

.flex- {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 14px;
  color: #1f222c;
  font-weight: 400;
  font-family: "Roboto";
}

.formlast > p > label > input[type="submit"] {
  border-radius: 3px;
  background-color: #12d661;
  border: none;
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Roboto";
  padding: 13.5px 0;
  transition: 0.3s ease;
}

.formlast > p:last-child {
  padding-bottom: 21px;
}

.formlast input[type="submit"]:focus {
  box-shadow: 0px 2px 2.5px 2.5px rgba(8, 118, 52, 0.35);
  background-color: #07be51;
  border: none;
}

.hr {
  border: none;
  border-top: 1px solid #dcdcde;
}

.main {
  padding-top: 50px;
}

.secondform {
  padding-bottom: 50px;
}

.secondform > h2 {
  font-size: 20px;
  text-transform: uppercase;
  color: #b3b3b3;
  font-weight: 700;
  font-family: "Roboto";
  padding-bottom: 44px;
}

.secondform > form {
  display: flex;
  column-gap: 62px;
}

.radio {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

.checkbox {
  display: flex;
  flex-direction: column;
  row-gap: 13px;
}

.radio > p:first-child > label > input,
.radio > p:nth-child(2) > label > input,
.radio-table > input {
  width: 15px;
  height: 15px;
  border-radius: 8px;
  background-color: #fff;
  outline: 1px solid #cccccc;
}

.radio > p:first-child > label > input:checked,
.radio > p:nth-child(2) > label > input:checked,
.radio-table > input:checked {
  border: 3px solid #fff;
  background-color: #3e6aff;
  outline: 1px solid #3e6aff;
}

.radio > p:last-child > label > input {
  width: 15px;
  height: 15px;
  border-radius: 7px;
  background-color: #f7f7f7;
  outline: 1px solid #e5e5e5;
}

.radio > p:last-child > label {
  font-size: 14px;
  color: #b3b3b3;
  font-weight: 400;
  font-family: "Roboto";
}

.parentx {
  position: relative;
}

.parentx span {
  position: absolute;
}

.parentx > input:checked {
  outline: 1px solid #3e6aff;
}

.parentx > input:checked + span {
  top: 30%;
  left: 50%;
  width: 5px;
  height: 7px;
  border-top: 2px solid #244dd7;
  border-left: 2px solid #244dd7;
  transform: translate(-50%, -50%) rotate(-135deg);
}

.checkbox > p:last-child > label > span > input {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background-color: #f7f7f7;
  border: 1px solid #e5e5e5;
}

.checkbox > p:last-child > label {
  font-size: 14px;
  color: #b3b3b3;
  font-weight: 400;
  font-family: "Roboto";
}

.style-checkbox {
  font-size: 14px;
  color: #1f222c;
  font-weight: 400;
  font-family: "Roboto";
}

.twosecond {
  width: 473px;
  border-radius: 3px;
  background-color: #f7f7f7;
  border: 1px solid #e5e5e5;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.twoseconds {
  display: flex;
  justify-content: flex-end;
}

.flex-default {
  display: flex;
}

.flex-second {
  display: flex;
  column-gap: 61px;
}

.style-status {
  padding: 21px 21px 14px 21px;
}

.antistyle-status {
  display: flex;
  align-items: center;
  column-gap: 35px;
  padding: 0 0 21px 22px;
}

.status {
  font-size: 14px;
  color: #b3b3b3;
  font-weight: 700;
  font-family: "Roboto";
}

input[type="date"] {
  padding: 15px;
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

.thirdcolon {
  padding: 50px 0;
}

.human {
  display: flex;
  flex-direction: column;
  row-gap: 9px;
}

.firstradiofloor {
  width: 70px;
  height: 70px;
  background-image: url("../img/man.svg");
  border-radius: 50%;
  z-index: 2;
}

.firstradiofloor:checked {
  background-image: url("../img/mancolor.svg");
  z-index: 2;
}

.secondradiofloor {
  width: 70px;
  height: 70px;
  background-image: url("../img/woman.svg");
  border-radius: 50%;
  z-index: 1;
}

.secondradiofloor:checked {
  background-image: url("../img/womancolor.svg");
  z-index: 1;
}

.firstradiofloor:hover,
.secondradiofloor:hover {
  cursor: pointer;
}

.style1 {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.rowgap-third {
  display: flex;
  flex-direction: column;
  row-gap: 19px;
  column-gap: 10px  ;
}

.checkbox > p:last-child > label > span > input {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background-color: #f7f7f7;
  border: 1px solid #e5e5e5;
}

.checkbox > p:last-child > label {
  font-size: 14px;
  color: #b3b3b3;
  font-weight: 400;
  font-family: "Roboto";
}

.checkbox > p:last-child > label > span > input {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background-color: #f7f7f7;
  border: 1px solid #e5e5e5;
}

.flex {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.parenta {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
}

.parenta input {
  appearance: none;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background-color: #cfcfd1;
  position: absolute;
  cursor: pointer;
  transition: 0.3s ease;
}

.parenta input:checked {
  background-color: #3e6aff;
}

.parenta span {
  position: absolute;
  top: 50%;
  left: 4%;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transform: translateY(-50%);
  transition: 0.3s ease;
}

.parenta input:checked + span {
  left: 48%;
}

.checkbox > p:last-child > label {
  font-size: 14px;
  color: #b3b3b3;
  font-weight: 400;
  font-family: "Roboto";
}

.thirdcolon > h2 {
  font-size: 20px;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: #b3b3b3;
  font-weight: 700;
  font-family: "Roboto";
  padding-bottom: 34px;
}

.flex_ {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.thirdform {
  display: flex;
  align-items: center;
  column-gap: 298px;
}

.fourthform,
.fourthform > table {
  width: 500px;
}

.fourthcolon {
  padding: 50px 0;
}

.fourthcolon > h2 {
  font-size: 20px;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: #b3b3b3;
  font-weight: 700;
  font-family: "Roboto";
  padding-bottom: 33px;
}

.tableup-p {
  font-size: 18px;
  color: #1f222c;
  font-weight: 700;
  font-family: "Roboto";
  padding-bottom: 25px;
}

.td-text {
  width: 72px;
  vertical-align: top;
  font-size: 14px;
  color: #1f222c;
  font-weight: 400;
  font-family: "Roboto";
}

.-radio {
  padding-right: 23px;
}

.table-input {
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  font-size: 14px;
  color: #b3b3b3;
  font-weight: 400;
  font-family: "Roboto";
  padding: 11.5px 0 11.5px 15px;
  width: 324px;
}

.table-input:focus,
.table-select:focus {
  box-shadow: 0 0 2.5px 2.5px rgba(62, 106, 255, 0.55);
  border: 1px solid #3e6aff;
  appearance: none;
}

.padding-table-big {
  padding-bottom: 19px;
}

.padding-tablzzz {
  padding-bottom: 14px;
}

.table-select {
  font-size: 14px;
  color: #1f222c;
  font-weight: 400;
  font-family: "Roboto";
  background-color: transparent;
  outline: 1px solid #ccc; 
  border-radius: 3px;
  padding: 11.5px 0 11.5px 15px;
  width: 341px;
}

.fourthform select {
  border-radius: 3px;
  outline: none;
  border: 1px solid #cccccc;
}

.table-selectz {
  font-size: 14px;
  color: #1f222c;
  font-weight: 400;
  font-family: "Roboto";
  background-color: transparent;
  outline: 1px solid #ccc; 
  border-radius: 3px;
  padding: 15px 0 13px 15px;
  width: 220px;
}

.class-table-input {
  width: 220px;
}

.file-input {
  border-radius: 3px;
  background-color: #3e6aff;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  font-family: "Roboto";
  border: none;
  padding: 12.5px 37px 12.5px 37px;
  transition: .5s ease;
}

.file-input:focus {
  box-shadow: 0px 2px 2.5px 2.5px rgba(15,40,126,0.35);
  background-color: #2857f4;
}

.table-textarea {
  padding: 15px 0 13px 15px;
  width: 324px;
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  font-size: 14px;
  color: #b3b3b3;
  font-weight: 400;
  font-family: "Roboto";
  min-height: 101px;
  max-height: 200px;
  resize: vertical;
}

.table-textarea:focus {
  box-shadow: 0px 2px 2.5px 2.5px rgba(15,40,126,0.35);
  border-color: #2857f4;
}

.padding-submit {
  padding-left: 80px;
}

.submit-form {
  border-radius: 3px;
  background-color: #12d661;
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Roboto";
  border: none;
  padding: 13.5px 114px;
  transition: .5s ease;
}

.submit-form:focus {
  box-shadow: 0px 2px 2.5px 2.5px rgba(8,118,52,0.35);
  background-color: #07be51;
}

.fifth-colon {
  padding-top: 50px;
  padding-bottom: 144px;
}

.fifth-colon > h2 {
  font-size: 20px;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: #b3b3b3;
  font-weight: 700;
  font-family: "Roboto";
  padding-bottom: 33px;
}

.fifth-colon > p {
  font-size: 18px;
  color: #1f222c;
  font-weight: 700;
  font-family: "Roboto";
  padding-bottom: 22px;
}

.fifthform {
  max-width: 680px;
}

.fifthform select {
  max-width: 220px;
  border-radius: 3px;
  outline: none;
  border: 1px solid #cccccc;
}

.hr-table {
  width: 100%;
  border: none;
  border-top: 1px solid #e9e9e9;
  margin: 30px 0 25px 0;
}

.hr-tablez {
  width: 100%;
  border: none;
  border-top: 1px solid #e9e9e9;
  margin: 24px 0 30px 0;
}

.padding-tables {
  padding-left: 81px;
}

.padding-table {
  padding-right: 9px;
}

.label-table {
  display: flex;
  align-items: center;
  column-gap: 9px;
  font-size: 14px;
  color: #1f222c;
  font-weight: 400;
  font-family: "Roboto";
}

.td-table-fifth {
  font-size: 13px;
  color: #b3b3b3;
  font-weight: 400;
  font-family: "Roboto";
}

.addres {
  width: 67%;
}

.input-fifth {
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  padding: 12.5px 12px;
  width: 100%;
  box-sizing: border-box;
}

.select-label {
  max-width: 220px;
}

.table-padding {
  padding-bottom: 18px;
}

.reset {
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid #85868d;
  font-size: 14px;
  color: #6e6f77;
  font-weight: 700;
  font-family: "Roboto";
  padding: 13.5px 27px;
  transition: .5s ease;
}

.reset:hover {
  cursor: pointer;
}

.reset:focus {
  background-color: #85868d;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  font-family: "Roboto";
}

.submit-fifth {
  border-radius: 3px;
  background-color: #12d661;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  font-family: "Roboto";
  border: none;
  padding: 13.5px 27px;
  transition: .5s ease;
}

.submit-fifth:focus {
  box-shadow: 0px 2px 2.5px 2.5px rgba(8,118,52,0.35);
  background-color: #07be51;
}

.super-padding {
  padding-right: 318px;
}